.genie
.vscode
node_modules
build-ui
src/**/*.js
test/unit/*.js
!src/tslib.js
test/server/src
build-ui
/application
*.lock
*.log
/tsconfig.json
/tslib.js
/tslint.json
/builderConfig.json
/wasaby-cli_artifacts
/wasabyGlobalTypings.d.ts
/tailwind.config.js
/build-ui
/**/tsconfig.json
/.eslintrc.js
/.stylelintrc.js
.stylelintignore
/.prettierrc.js
.prettierignore